{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main class="loginMain">
    <div class="login-box">
        <form method="post" class="d-flex flex-column align-items-center w-100">
            {% if isLocked %}
            <div id="lockoutTimer" class="text-danger" data-lockout-time-remaining="{{ lockoutTimeRemaining }}"></div>
            {% elseif error %}
            <div class="text-danger">
                {{ error }}
            </div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                autocomplete="email" required autofocus>
            <label for="inputPassword" class="mt-4">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                autocomplete="current-password" required>
            <div style="display:none;">
                <label for="honeypot">Ne pas remplir ce champ</label>
                <input type="text" name="honeypot" id="honeypot" value="">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-success mt-4" type="submit" {% if isLocked %}disabled="disabled"{% endif %}>
                Se connecter
            </button>
        </form>
        <div class="links d-flex flex-column mt-4 align-items-center">
            <a href="{{path('app_register')}}">Créer un compte</a>
            <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
        </div>
    </div>
</main>

{% endblock %}