{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <section class="sixProductsBoulangerie">
        <h3>Les six produits les mieux notés côté boulangerie</h3>
        <div class="products">
            {% for productInfo in products[1] %}
            {% set product = productInfo.product %}
            {% set avgNote = productInfo.avgNote|number_format(0, '.', '') %} <!-- Formatage de la note moyenne -->

            <div class="product-card">
                <img src="{{ asset('img/' ~ product.pictures[0].fileName) }}" alt="{{ product.name }}"
                    class="product-image">
                <div class="product-info">
                    <h3 class="product-name">{{ product.name }}</h3>
                    <div class="product-rating">
                        {% for i in 1..5 %}
                        {% if i <= avgNote %} <span class="star">&#9733;</span>
                            {% else %}
                            <span class="star">&#9734;</span>
                            {% endif %}
                            {% endfor %}
                    </div>
                    <button class="product-button"><i class="fa-solid fa-arrow-right"></i>Voir le produit</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="sixProductsPatisserie">
        <h3>Les six produits les mieux notés côté pâtisserie</h3>
        <div class="products">
            {% for productInfo in products[2] %}
            {% set product = productInfo.product %}
            {% set avgNote = productInfo.avgNote|number_format(0, '.', '') %} <!-- Formatage de la note moyenne -->

            <div class="product-card">
                {% if product.pictures|length > 0 %}

                <img src="{{ asset('img/' ~ product.pictures[0].fileName) }}" alt="{{ product.name }}"
                    class="product-image">
                {% else %}
                <img src="#" alt="{{ product.name }}" class="product-image">
                {% endif %}
                <div class="product-info">
                    <h3 class="product-name">{{ product.name }}</h3>
                    <div class="product-rating">
                        {% for i in 1..5 %}
                        {% if i <= avgNote %} <span class="star">&#9733;</span>
                            {% else %}
                            <span class="star">&#9734;</span>
                            {% endif %}
                            {% endfor %}
                    </div>
                    <button class="product-button"><i class="fa-solid fa-arrow-right"></i>Voir le produit</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}