{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center h-100 rankedProducts">
    <div class="col-10 d-flex flex-wrap h-100 justify-content-center">
        {% for product in products %}
        <div class="card" style="width: 20rem;">
            {% if product.pictures[0] is defined %}
            <img class="card-img-top" src="{{ asset('img/' ~ product.pictures[0].fileName) }}" alt="{{product.pictures[0].slug}}">
            {% else %}
            <img class="card-img-top" src="#" alt="baseSlug">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <a href="{{path('show_product_with_category', {themeid: theme.id, categoryid: category.id, productid: product.id})}}" class="btn btn-primary showProductRating">Voir le produit</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
