{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- Section Gauche: Détails du Produit -->
        <div class="col-md-5 border-end product-details">
            <h1 class="product-title">{{ product.name }}</h1>
            <p class="product-description"><strong>Description :</strong> {{ product.description }}</p>
            <div class="product-info">
                <p><strong>Prix :</strong> {{ product.price }}€</p>
                <p><strong>Poids :</strong> {{ product.weight }}Kg</p>
                <p><strong>Quantité :</strong> {{ product.productQuantity }}</p>
            </div>
            <div class="list-ingredients">
                <p><strong>Liste des ingrédients :</strong></p>
                <ul class="list-unstyled">
                    {% for ingredient in ingredients %}
                    <li class="ingredient-item">
                        <p class="ingredient-name">{{ ingredient.name }}</p>
                        <p class="allergen">Allergène : {{ ingredient.isAllergene ? 'Oui' : 'Non' }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="basket-holder">
                <form action="{{ path('add_product', {productid: product.id}) }}" method="post"
                    class="add-to-basket-form">
                    <div class="quantity-selector mb-3">
                        <label for="quantity" class="form-label"><strong>Quantité :</strong></label>
                        <div class="input-group">
                            <button type="button" class="btn btn-outline-secondary" id="increaseValue">+</button>
                            <input type="text" id="quantity" name="quantity" class="form-control text-center" value="1"
                                data-max="{{ product.productQuantity }}">
                            <button type="button" class="btn btn-outline-secondary" id="decreaseValue">-</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Ajouter au panier</button>
                </form>
            </div>
        </div>
        <!-- Section Droite: Sélecteur d'Images -->
        <div class="col-md-7 product-image-selector">
            <figure id="mainImage" class="main-image-container">
                <img src="{{ asset('img/' ~ picture.fileName) }}" class="d-block" alt="{{ picture.slug }}">
            </figure>
            <div class="thumbnails-container">
                {% for image in product.pictures %}
                <div class="thumbnail" data-img-src="{{ asset('img/' ~ image.fileName) }}" data-img-alt="{{ image.slug }}">
                    <img src="{{ asset('img/' ~ image.fileName) }}" alt="{{ image.slug }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}