{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- Section Gauche: Détails du Produit -->
        <div class="col-md-5 border-end">
            <div class="product h-75">
                <h1>{{ product.name }}</h1>
                <p><strong>Description :</strong> {{ product.description }}</p>
                <p><strong>Prix :</strong> {{ product.price }}€</p>
                <p><strong>Poids :</strong> {{ product.weight }}Kg</p>
                <p><strong>Quantité :</strong> {{ product.productQuantity }}</p>

                <div class="listIngredients">
                    <p><strong>Liste des ingrédients :</strong></p>
                    <ul class="list-unstyled">
                        {% for ingredient in ingredients %}
                        <li>
                            <p class="m-0">{{ ingredient.name }}</p>
                            <p>Allergène : {{ ingredient.isAllergene ? 'Oui' : 'Non' }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="basketHold">
                <form action="{{ path('add_product', {productid: product.id}) }}" method="post">
                    <div class="d-flex flex-column">
                        <label for="quantity">Quantité</label>
                        <div class="input-group mb-3">
                            <button type="button" class="btn btn-outline-secondary" id="decreaseValue">-</button>
                            <input type="text" id="quantity" name="quantity" class="form-control text-center"
                                value="1" readonly data-max="{{ product.productQuantity }}">
                            <button type="button" class="btn btn-outline-secondary" id="increaseValue">+</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Ajouter au panier</button>
                </form>
            </div>
        </div>

        <!-- Section Droite: Sélecteur d'Images -->
        <div class="col-md-7">
            <div class="product-image d-flex flex-row">
                <!-- Image Principale -->
                <figure id="mainImage" class="main-image-container">
                    <img src="{{ asset('img/' ~ picture.fileName) }}" class="d-block w-100" alt="{{ picture.slug }}">
                </figure>

                <!-- Miniatures -->
                <div class="thumbnails-container d-flex flex-column">
                    {% for image in product.pictures %}
                    <div class="thumbnail" onclick="changeImage(this)"
                        data-img-src="{{ asset('img/' ~ image.fileName) }}" data-img-alt="{{ image.slug }}">
                        <img src="{{ asset('img/' ~ image.fileName) }}" alt="{{ image.slug }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}