<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% if controller_name != 'HomeController' %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/navbar2.css')}}">
    {% endif %}

    {% block javascripts %}
    <script src="https://kit.fontawesome.com/eec634434d.js" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <header>

        {# {% if controller_name != 'SecurityController' and controller_name != 'RegistrationController' and controller_name != 'OrderController' and controller_name != 'registrationController'%}

            {% if controller_name == 'DashboardController' or controller_name == 'ProductControllerNew' %}
            {{ include('shared/sidebar2.html.twig') }}
            {% endif %}

        {% endif %} #}
        {{include('shared/navbar.html.twig')}}

    </header>

        {# {% if categories is defined %}
        <div class="d-flex justify-content-around subbar">
            {% for category in categories %}
                <a href="{{path('app_category', {'themeid': theme.id, 'id': category.id})}}">{{category.categoryName}}</a>
            {% endfor %}
        </div>
        {% endif %} #}

        {% block body %}
        {% endblock %}
</body>

</html>