<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Facture</h1>
    <p>Date de Commande: {{ order.dateOrder | date('Y-m-d') }}</p>
    <h2>Information du client</h2>
    <p>{{ order.customerName }} {{ order.customerFirstName }}</p>
    <h2>Produits achetés</h2>
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix unitaire</th>
            </tr>
        </thead>
        <tbody>
            {% for reference in order.archives %}
            <tr>
                <td>{{ reference.productName }}</td>
                <td>{{ reference.quantity }}</td>
                <td>{{ reference.fullPrice }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Prix total : {{ order.fullPrice }}</p>
</body>
</html>