<nav class="navbar">
    <div class="holder">
        <button class="btn btn-link" id="sidebarBtn"><i class="fa-solid fa-bars fa-xl"></i></button>
        <a href="{{path('app²_home')}}"><img src="{{asset('img/fouet.png')}}" alt="" class="iconWebsite"></a>
        <div class="hold">
            <input type="text" id="searchInput">
            <button class="btn btn-link p-0" id="searchBar"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
            <a href="#"><i class="fa-solid fa-basket-shopping fa-xl"></i></a>
            {% if app.user %}
            {% if is_granted('ROLE_GERANT') %}
            <a href="{{path('app_dashboard_admin')}}"><i class="fa-solid fa-user fa-xl"></i></a>
            {% else %}
            <a href="{{path('app_dashboard')}}"><i class="fa-solid fa-user fa-xl"></i></a>
            {% endif %}
            {% else %}
            <a href="{{path('app_login')}}"><i class="fa-solid fa-user fa-xl"></i></a>
            {% endif %}
        </div>
    </div>
</nav>