{% extends 'base.html.twig' %}

{% block title %}Valider votre commande{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Valider votre commande</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_row(form.customerName) }}
                {{ form_row(form.customerFirstName) }}
                <div class="mb-3 d-flex">
                    {{ form_widget(form.countryCode, {'id': 'countryCode'}) }}
                    {{ form_widget(form.phone, {'id': 'phoneNumber'}) }}
                </div>
                {{ form_row(form.desiredPickupDateTime, {'id': 'desiredPickupDate'}) }}
                {{ form_widget(form.stripeToken, {'id': 'stripe-token-id'}) }}
            </div>

            <div class="card shadow-sm border-0 mb-4">
                <div class="card-body">
                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div id='checkout-form'>
                        <label for="card-element">Payer avec Stripe</label>
                        <p class="fw-bold">Montant total à payer : {{ fullPrice }} €</p>
                        <div id="card-element" class="form-control"></div>
                        <button id="pay-btn" class="btn btn-primary mt-3">Payer</button>
                    </div>
                </div>
            </div>

            <h4 class="text-center">Ou payer avec PayPal</h4>
            <div id="paypal-button-container" class="my-3"></div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id={{ paypalClientId }}&currency=EUR"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var stripe = Stripe("{{ stripe_key }}");
        var elements = stripe.elements();
        var cardElement = elements.create('card');
        cardElement.mount('#card-element');
        var form = document.querySelector('form');

        function createToken() {
            document.getElementById("pay-btn").disabled = true;
            stripe.createToken(cardElement).then(function (result) {
                if (result.error) {
                    document.getElementById("pay-btn").disabled = false;
                    alert(result.error.message);
                } else {
                    document.getElementById("stripe-token-id").value = result.token.id;
                    form.submit();
                }
            });
        }

        form.addEventListener("submit", function (event) {
            event.preventDefault();
            createToken();
        });

        paypal.Buttons({
            // Configuration PayPal...
        }).render('#paypal-button-container');
    });
</script>
{% endblock %}